@{
    ViewBag.Title = "My Title";
}

<div class="row">
    <div class="col-md-4">
        <h2>A row</h2>
        <p>Some text in this row</p>
        <p>Some more text in this row</p>
    </div>
    <div class="col-md-4">
        <h2>Another row</h2>
        <p>More text...</p>
        <p>Even more text......</p>
    </div>
</div>